# Ignore build artifacts and cache
/build/
/.vscode/

# Ignore test artifacts and cache
/Testing/

# Ignore vcpkg installed packages
/vcpkg_installed/
/vcpkg/

# Ignore personalized config files
config.txt